<!DOCTYPE html>
<htmllang="en">
  <head>
    <metacharset="UTF-8"/>
    <metaname="viewport"content="width=device-width, initial-scale=1.0"/>
    <title>Sending emails to user in Python</title>
  </head>
  <body>
    Hi {{user}}!,
  <p>You or another user has sent a password recovery request for your {{email}} account on KiddisvitApp.</p>
  <p>Your code :</p>
  <p>{{code}}</p>

  </body>
</html>